################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Source/Direct2DGameOverlay/bin/Debug/Blue.TextDataTable.dll
/Source/Direct2DGameOverlay/bin/Debug/Blue.TextDataTable.pdb
/Source/Direct2DGameOverlay/bin/Debug/DirectXOverlay.exe
/Source/Direct2DGameOverlay/bin/Debug/DirectXOverlay.exe.config
/Source/Direct2DGameOverlay/bin/Debug/DirectXOverlay.pdb
/Source/Direct2DGameOverlay/bin/Debug/FontAwesome.Sharp.dll
/Source/Direct2DGameOverlay/bin/Debug/LoreSoft.MathExpressions.dll
/Source/Direct2DGameOverlay/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/Source/Direct2DGameOverlay/bin/Debug/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/Source/Direct2DGameOverlay/bin/Debug/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/Source/Direct2DGameOverlay/bin/Debug/Newtonsoft.Json.dll
/Source/Direct2DGameOverlay/bin/Debug/Newtonsoft.Json.xml
/Source/Direct2DGameOverlay/bin/Debug/NIKBHL.dll
/Source/Direct2DGameOverlay/bin/Debug/NIKBHL.pdb
/Source/Direct2DGameOverlay/bin/Debug/Overlay.NET.dll
/Source/Direct2DGameOverlay/bin/Debug/Overlay.NET.dll.config
/Source/Direct2DGameOverlay/bin/Debug/Overlay.NET.pdb
/Source/Direct2DGameOverlay/bin/Debug/Process.NET.dll
/Source/Direct2DGameOverlay/bin/Debug/SharpDX.Direct2D1.dll
/Source/Direct2DGameOverlay/bin/Debug/SharpDX.dll
/Source/Direct2DGameOverlay/bin/Debug/SharpDX.DXGI.dll
/Source/Direct2DGameOverlay/bin/Debug/SharpDX.Mathematics.dll
/Source/Direct2DGameOverlay/bin/Debug/SharpDX.Mathematics.pdb
/Source/Direct2DGameOverlay/bin/Debug/SharpDX.Mathematics.xml
/Source/Direct2DGameOverlay/bin/Debug/System.Buffers.dll
/Source/Direct2DGameOverlay/bin/Debug/System.Memory.dll
/Source/Direct2DGameOverlay/bin/Debug/System.Numerics.Vectors.dll
/Source/Direct2DGameOverlay/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/Source/Direct2DGameOverlay/bin/Debug/System.Text.Encodings.Web.dll
/Source/Direct2DGameOverlay/bin/Debug/System.Text.Json.dll
/Source/Direct2DGameOverlay/bin/Debug/System.Threading.Tasks.Extensions.dll
/Source/Direct2DGameOverlay/bin/Debug/System.ValueTuple.dll
/Source/Direct2DGameOverlay/obj/Debug/TempPE
